# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Test output
coverage
.nyc_output

# API Doc output
apidoc/output

custom_module/simple-parse-smtp-adapter/node_modules

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Emacs
*~

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea

public
.hugo_build.lock